# Node modules
node_modules/

# Build output
dist/

# Environment files
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Firebase
firebase.json
firebaseConfig.js

# AI
agents
policies
knowledge
workflows

package-lock.json
